@model CountryModel

<form asp-action="delete" asp-controller="Country" method="post">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-prepend">
                <label class="input-group-text ">
                Country Code
                </label>
            </span>
            <input type="text" class="form-control" asp-for="Code" disabled/>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-prepend">
                <label class="input-group-text">
                   Country Name
                </label>
            </span>
            <input class="form-control" type="text" asp-for="Name" disabled/>
        </div>
    </div>
    <button type="submit" class="btn btn-danger">
       Delete
    </button>
</form>