@model NeighborhoodModel

@{
    List<SelectListItem> cities = (List<SelectListItem>)ViewData["Cities"];
}


<form asp-action="create" asp-controller="neighborhood" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-prepend">
                <label class="input-group-text"><i class="fa fa-product-hunt"></i></label>
            </span>
            <input asp-for="Name" type="text" class="form-control" placeholder="Name" />
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-prepend">
                <label class="input-group-text"><i class="fa fa-map-marker"></i></label>
            </span>
            <select class="form-control" asp-for="City.Id" asp-items="cities">
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div>
                <label>Select Image</label>
            </div>
            <div>
                <input name="photo" type="file" />
            </div>            
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-dark">
            <i class="fa fa-arrow-circle-right"></i>  Add
        </button>
    </div>
</form>

