
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    List<PropertyAdvModel> topAdvs = (List<PropertyAdvModel>)ViewData["TopAdvs"];
}

<div class="container-fluid">
    <div class="row">
        @foreach (var adv in topAdvs)
        {
            <div class="advsum col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <a asp-action="details" asp-controller="advertizements" asp-route-id="@adv.Id" class="lnk-advdetails" title="@adv.Name">
                    <div class="card" style=" margin:15px auto;">
                        @if (adv.Images.Count > 0)
                        {
                            <img src="data:image/jpg;base64,@adv.Images.First()" style="height:250px" 
                                 class="card-img card-img-top" alt="adv" />
                        }
                        <div class="card-body">
                            <h4 class="card-title">@adv.Name</h4>
                            <p class="card-text text-truncate">@adv.Description</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

@section myscript{
    <script>
        $(".lnk-advdetails").click(function (event) {
            event.preventDefault();
            var url = $(this).attr("href");
            var title = $(this).attr("title");
            $.ajax(
                {
                    url: url
                }
            ).done(function (advdetails) {
                //show details adv modal dialog
                $("#advdialog-title").text(title);
                $("#advdialog-body").html(advdetails);
                $("#advdialog").modal();
            });
        });



    </script>
}
